{
  "env" : {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react",
    "html"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
